# whats_app_cloud_api
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module WhatsAppCloudApi
  # BusinessProfilesController
  class BusinessProfilesController < BaseController
    def initialize(config, http_call_back: nil)
      super(config, http_call_back: http_call_back)
    end

    # Use this endpoint to update your business’ profile information such as the
    # business description, email or address.
    # @param [String] phone_number_id Required parameter: Example:
    # @param [UpdateBusinessProfileRequest] body Required parameter: Example:
    # @return [SuccessResponse] response from the API call
    def update_business_profile(phone_number_id,
                                body)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/{Phone-Number-ID}/whatsapp_business_profile'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'Phone-Number-ID' => { 'value' => phone_number_id, 'encode' => true }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'Content-Type' => 'application/json'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.post(
        _query_url,
        headers: _headers,
        parameters: body.to_json
      )
      OAuth2.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body)
      SuccessResponse.from_hash(decoded)
    end

    # Use this endpoint to retrieve your business’ profile. This business
    # profile is visible to consumers in the chat thread next to the profile
    # photo. The profile information will contain a business profile ID which
    # you can use to make API calls.
    # @param [String] phone_number_id Required parameter: Example:
    # @param [String] fields Optional parameter: Here you can specify what you
    # want to know from your business as a comma separated list of fields.
    # Available fields include: id, about, messaging_product, address,
    # description, vertical, email, websites, profile_picture_url
    # @return [GetBusinessProfileIDResponse] response from the API call
    def get_business_profile_id(phone_number_id,
                                fields: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/{Phone-Number-ID}/whatsapp_business_profile'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'Phone-Number-ID' => { 'value' => phone_number_id, 'encode' => true }
      )
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'fields' => fields
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/json'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      OAuth2.apply(config, _request)
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body)
      GetBusinessProfileIDResponse.from_hash(decoded)
    end
  end
end
